body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/*
  background-image: url('https://img.freepik.com/free-vector/hand-drawn-colorful-science-education-wallpaper_23-2148489183.jpg?w=1060&t=st=1688196627~exp=1688197227~hmac=e580a82c1b9b061c647a040143a1bf1c771b7b3e461ed3eaab9808770151361a'); */
	background-image: url('https://images.unsplash.com/photo-1447433819943-74a20887a81e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1199&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

footer {
	margin-top: 50px;
}

a {
	color: black;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.button1,
.button2 {
	margin-top: 20px;
}